@font-face{
  font-family: BYekan;
  font-style: normal;
  font-weight: 700;
  src: url('./setup/assets/font/B\ Yekan.eot');
  src: url('./setup/assets/font/B\ Yekan.eot') format('mbedded-opentype'),
       url('./setup/assets/font/B\ Yekan.woff') format('woff'),
       url('./setup/assets/font/B\ Yekan.ttf') format('truetype');
}
@font-face{
  font-family: BYekan;
  font-style: normal;
  font-weight: 400;
  src: url('./setup/assets/font/B\ Yekan.eot');
  src: url('./setup/assets/font/B\ Yekan.eot') format('mbedded-opentype'),
       url('./setup/assets/font/B\ Yekan.woff') format('woff'),
       url('./setup/assets/font/B\ Yekan.ttf') format('truetype');
}
body {
  direction: rtl;
  min-height: 100vh;
  background: linear-gradient(167.51deg, #F8F8FC -23.83%, #E1E2E8 81.74%);
}
*{
  font-family: "BYekan"!important;
}
